= form_with url:search_path, method: :get do |f|
    = f.search_field :q,value:params[:q], placeholder: "Search", class:"searchBar"
    = f.button image_tag('search.svg'), class: 'searchButton'
    ul#suggestionsList class="suggestions-list"
