:root {
  --font-color: #EFEFEF;
  --font-secondary:#050B18;
  --section-color: #f8f8f8;
  --section-shadow:hsla(240, 10%, 6%, 0.5);
  --searchbar-background:#121212;
}

body {
  background: linear-gradient(180deg, rgba(0, 8, 26, 0.95) 0%, #0E0E11 100%);
  background-size: cover;
  color: var(--secondary-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", serif;
}

a {
  text-decoration: none;
  color: var(--font-color);
}