.collectionItem {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.collectionItemContainer{
  height: 80%;
  display: flex;
  gap: 64px;
}

.collectionItemThumbnail {
  width: 480px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.collectionItemTitle {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  color: var(--font-color);
}

.collectionItemCategoryContainer{
  display: flex;
  gap: 8px;
}

.collectionItemCategory{
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--secondary-color);
  padding: 4px 12px;
  border-radius: 16px;
}

.collectionItemTextContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  color: var(--font-color);
}

.collectionItemText{
  display:flex;
  height: 100%;
  gap: 32px;
}

.collectionItemText--left{
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 36px;
}

.collectionItemText--right{
width: 35%;
display: flex;
flex-direction: column;
}

.collectionItemText--right p{
  border-top: 1px solid #fafafa32 ;
  padding-top: 8px;
  }

.collectionItemTextHeader{
  font-size: 18px;
  font-weight: 500;
  color: var(--theme-color);
}

.collectionItemData {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.collectionItemRight{
  margin-bottom: 26px;
}

.collectionItemButtonContainer {
  display: flex;
  gap: 15px;
}

.collectionItemRating{
  vertical-align: center;
  display: flex;
  gap: 12px;
  font-size: 24px;
}

.collectionItemStar{
  width: 24px;
  background-color: var(--theme-color);
  padding: 2px;
  border-radius: 4px;
}

.backIcon{
  width: 36px;
  height: 36px;
  margin: 80px 0 8px 0;
}