.trendingContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 100%;
}

.categoriesMenu {
  margin: 0 auto;
  gap: 12px;
  display: flex;
  margin-bottom: 30px;
}

.trendingList {
  list-style: none;
  display: flex;
  gap: 10px;
}

.trendingList li,
.unreleasedList li {
  width: calc(100% / 5);
}

.trendingList li a,
.unreleasedList li a,
.actorsList li a {
  color: var(--secondary-color);
}

.unreleasedList {
  list-style: none;
  display: flex;
  gap: 10px;
}

.unreleasedContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.unreleasedMenu {
  margin: 0 auto;
  gap: 12px;
  display: flex;
  margin-bottom: 30px;
}

.actorsContainer {
  margin-top: 60px;
}

.actorsList {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.actorsList li {
  width: (calc(100% / 5));
  text-align: center;
}

.actorThumbnail {
  border-radius: 1000px;
  width: 160px;
  height: 160px;
  object-fit: cover;
}
