
.homeItemsList {
  list-style: none;
  display: flex;
  gap: 10px;
}

.homeItemsList li{
  border-radius: 4px;
  position: relative;
}

.homeItemsList li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, #1A1D29 60%, rgba(26, 29, 41, 0) 100%);
  z-index: 1; 
}

.homeItemThumbnail{
  width: 302px;
  height: 380px;
  border-radius: 4px;
  display: block;
  z-index: 0; 
}



.homeItemRating, .homeItemCategory{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding: 8px 0;
}

.homeItemRating{
  bottom:0
}

.homeItemTitle{
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: var(--secondary-color);
  text-align: center;
  height: 52px;
  display: flex;
  align-items: center;
  margin: 8px 0;
  z-index: 2; 
}

.homeItemDescription{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1A1D29;
  border-radius: 4px;
  z-index: 2; 
}


.homeItemDetails{
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 2; 
  padding-bottom: 4px;
}
.actorsContainer {
  margin-top: 60px;
}

.actorsList {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.actorsList li {
  width: (calc(100% / 5));
  text-align: center;
}

.actorThumbnail {
  border-radius: 1000px;
  width: 160px;
  height: 160px;
  object-fit: cover;
}
