.loginContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}


.loginTitle{
    color: var(--font-color);
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 32px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.loginInput{
    width: 300px;
    padding: 12px;
    background-color: #1A1F30;
    border: none;
    color: var(--font-color);
    width: 70%;
    font-size:16px;
}

.loginInput:focus{
    border: 1px solid var(--theme-color);
    outline: none;
}

.loginButton{
    background-color: var(--theme-color);
    border: none;
    color: var(--font-color);
    padding: 10px 0;
    width: calc(70% + 24px);
    border-radius: 6px;
    font-size:16px;
}

.loginRightPanel{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
