.navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    height: 48px;
}

.logo{
    background-color: var(--theme-color);
    padding: 4px;
    color: var(--primary-color);

}

.itemList{
    display: flex;
    list-style: none;
}

.searchBar{
    width: 588px;
    height: 24px;
    padding: 0 6px 0 6px
}

.buttonLogout{
    background-color: transparent;
}