.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  gap: 8px;
}

.logoText{
  color: var(--secondary-color);
  font-size: 26px;
  line-height: 26px;
}

.itemList {
  display: flex;
  list-style: none;
}

.searchBar {
  width: 588px;
  height: 24px;
  padding: 0 6px 0 6px;
}

.searchButton{
  height: 22px;
  background-color: white;
  margin-left: -28px;
  border: none;
  cursor: pointer;
  border-left: 1px solid #cacaca;
  padding: 0 6px;
}

.searchButton img{
  height: 14px;
}

.buttonLogout {
  background-color: transparent;
}

.menuButton,
.closeButton {
  cursor: pointer;
}

.menuItemList {
  padding: 24px 0 0 36px;
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 8px;
}

.menuItemList li {
  font-size: 32px;
}

.menuHidden {
  display: none;
}

.menuActive {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  display: block;
  z-index: 999;
}

.menuClose {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
