.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--section-shadow);
  z-index: 1231;
  position: fixed;
  width: calc(100vw - 32px);
  top: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 8px;
}

.logoText{
  color: #bcbcbc;
  font-size: 24px;
  line-height: 16px;
  font-weight:700 ;
  display: flex;
  align-items: center;
}

.logoSpan{
  color: var(--font-color);
}

.navbarLinksList{
  display: flex;
  list-style: none;
  gap: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbarSearch img{
  width: 24px;
  height: 24px;
}

.navbarButtons{
  display: flex;
  gap: 16px;
}

.navbarLink{
  font-size: 14px;
  line-height: 16px;
  color: var(--font-color);
  background-color: transparent;
  border: none;
}

.itemList {
  display: flex;
  list-style: none;
}

.searchBar {
  width: 588px;
  height: 24px;
  padding: 0 6px 0 6px;
  position: relative;
  display: none;
}

.searchButton{
  display: none;
}

.searchBar.active{
  display: inline-block;
}

.suggestions-list {
  position: absolute;
  list-style: none;
  padding: 0;
  display: block;
  z-index: 1000;
  margin-top: 2px;
  width: 588px;
}

.suggestions-list li {
  padding: 5px;
  cursor: pointer;
  padding: 8px;
  background-color: var(--searchbar-background);
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.suggestionsContainer{
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.suggestionsText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--font-color);
}

.suggestions-list li img{
  width: 48px;
  border-radius: 16px;
}

.suggestions-list li:hover {
  background: #252525;
}

.suggestionTrailerContainer{
 display: flex;
 justify-content: space-between;
}

.suggestionTrailer{
  width: calc((100%/2) - 16px);
  height:200px;
  border-radius: 16px;
  size: cover;
}

.buttonLogout {
  background-color: transparent;
}
